In [11]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──
✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.4     ✔ dplyr   1.0.7
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   2.0.1     ✔ forcats 0.5.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [20]:
###Question 0

replace_na_mean= function(x){
    x[is.na(x)]=mean(x, na.rm=TRUE)  
}
data=c(1, NA, 2, 3, 2, 2, NA)
replace_na_mean(data) %>% print()

[1] 2

In [40]:
data=c(1, NA, 2, 3, 2, 2, NA)

data[!is.na(data)]

[1] 1 2 3 2 2

In [28]:
data=c(1, NA, 2, 3, 2, 2, NA)
data[is.na(data)]=mean(data,na.rm=TRUE) %>% print(data)

[1] 2

In [25]:
data=c(1, NA, 2, 3, 2, 2, NA)

replace_na_mean = function(x){
    x[is.na(x)] = mean(x,na.rm=TRUE) %>% print(x)
}

replace_na_mean(data)

[1] 2

In [2]:
mean(c(1, NA, 2, 3, 2, 2, NA), na.rm=TRUE)
mean(c(1,2,3,2,2))

###airquality$Solar.r[is.na(airquality%Solar.R)] = mean(airquality$Solar.R, na.rm = TRUE)

[1] 2

[1] 2

In [5]:
is.na(c(1, NA, 2, 3, 2, 2, NA))

[1] FALSE  TRUE FALSE FALSE FALSE FALSE  TRUE

In [29]:
?ifelse

In [31]:
x <- c(6:-4)

sqrt(ifelse(x >= 0, x, NA))

 [1] 2.449490 2.236068 2.000000 1.732051 1.414214 1.000000 0.000000       NA
 [9]       NA       NA       NA